:root{
    --main-1: #0c0f14;
    --main-2: #141922;
    --main-3: #262e3d;
    --main-4: #5a7cb6;
    --main-5: #f55247;
    --main-6: #999;
    --main-7: #dedede;
    --main-8: #f3291a;

    --app-background: var(--main-1);
    --header-background: var(--main-2);
    --nav-background: var(--main-2);
    --body-background: var(--main-2);
    --font: var(--main-7);
    --font-span: var(--main-6);
    --title: var(--main-5);
    --logo: var(--main-5);
    --svg: var(--main-5);
    --border: var(--main-5);
    --contrast: var(--main-5);
    --alert: var(--main-5);
    --input: var(--main-3);
    --menu-hover: var(--main-5);
    --font-hover: var(--main-1);
    --submit: var(--main-5);
    --cancel: var(--main-3);
    --edit: var(--main-4);
    --table-header: var(--main-1);
    --table-background: var(--main-3);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color: var(--font);
}

main{    
   display: flex;
   flex-direction: row;    
}

#app {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    
    min-height: 100vh;
    background-color: var(--app-background);
}

.small-text {
    font-size: 0.8rem;
    color: var(--font-span);
}

svg{
    fill: var(--svg);
}

a{
    text-decoration: none;
    color: var(--font);
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

label, a{
    cursor: pointer;
}

.contrast{
    color: var(--contrast);
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

/** TOll TIP **/
.tooltip{
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    padding: 5px;
    background-color: var(--nav-background);
    color: var(--text-span);
    border-radius: 5px;
    font-size: 0.8rem;
    z-index: 1;   
    top: calc(var(--mouse-y, 0) * 100%);
    left: calc(var(--mouse-x, 0) * 100% + 10px);     
}

.tooltip-item:hover ~ .tooltip{
    display: block;
    opacity: 1;
    transition: 0.15s all ease-in-out;
}
